/* Impostazioni di base */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #D4CFD9;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #050507;
  color: #D4CFD9;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

/* Header bar */
.header {
  background-color: #2A0E3F;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer {
  background-color: #050506;
  margin: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Input form */
input, textarea {
  background-color: #402752;
  color: #D4CFD9;
  border-width: 0px;
  border-radius: 4px;
  font-size: 100%;
  margin: 0.25rem 0 0.5rem;
  padding: 0.5rem;
  color: #ccc;
  display: blocK;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
}

label {
  font-size: 80%;
  color: #999;
  margin-top: 1rem;
  font-weight: 300;
}

/* Bottoni */

button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: 400;
  justify-content: center;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  margin: 0.25rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: .013rem;
  line-height: 1.813rem;
}

.dark-button {
  background-color: #2A0E3F;
  color: #D4CFD9;
  border: 1px solid #5F5F61;
}

.light-button {
  background-color: #9E41FD;
  color: #D4CFD9;
}

.auth-form-container {
  background-color: #2A0E3F;
  color: #D4CFD9;
  border: 1px solid #5F5F61;
  border-radius: 12px;
  padding: 1rem;
  margin: 2.5rem auto;
  width: 30%;
}

.form-gruop {
  width: 100%;
  margin: 1rem auto;
}

.home {
  margin: 2rem;
  width: 100%;
}

.w-50 {
  width: 50%;;
}



.tabs {
  display: block;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.tabs a {
  padding: 1rem;
  border-bottom: 1px solid #2A0E3F;
}

.tabs a.active {
  border-bottom: 1px solid #EEE;
  font-weight: 600;
}